@{
    ViewBag.Title = "fancy";
}

<h2>fancy</h2>
<!DOCTYPE html>
<html>
<head>
    <title>Mayur Steels - Products</title>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <!-- FancyBox -->
    <link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css">
    <script type="text/javascript" src="fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript">
        $(".fancybox").fancybox({
            helpers: {
                overlay: {
                    css: {
                        'background': 'rgba(58, 42, 45, 0.95)'
                    }
                }
            }
        });
    </script>
</head>
<body>


    <a rel="gallery" class="fancybox" href=
        <!DOCTYPE html>
        <html>
        <head>
            <title>Mayur Steels - Products</title>


            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
            <!-- FancyBox -->
            <link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css">
            <script type="text/javascript" src="fancybox/jquery.fancybox.js"></script>
            <script type="text/javascript">
                $(".fancybox").fancybox({
                    helpers: {
                        overlay: {
                            css: {
                                'background': 'rgba(58, 42, 45, 0.95)'
                            }
                        }
                    }
                });
            </script>
        </head>
        <body>


            <a rel="gallery" class="fancybox" href="~/Images/b2.jpg">
                <img src="clouid1.jpg" />
            </a>


        </body>
    </html> >
    <img src="images/gallery/bed1.jpg" />
</a>


</body>
</html>