@{
    ViewBag.Title = "Our Work";
    Layout = "~/Views/Shared/layout2.cshtml";
}


<html>
<head>
    <title>Services</title>
    <style>
        #primary {
            margin-top: 10px;
            float: left;
            width: 333px;
        }

        #content {
            margin-top: 10px;
            float: left;
            width: 333px;
        }

        #secondary {
            margin-top: 10px;
            float: right;
            width: 333px;
        }


        #box {
            position: relative;
            background-color: transparent;
            width: 1000px;
            height: 450px;
        }



        h1 {
            font-family: "Comic Sans MS", cursive, sans-serif;
            color: yellow;
            word-wrap: break-word;
        }

        h3 {
            font-family: "Comic Sans MS", cursive, sans-serif;
            color: white;
            word-wrap: break-word;
        }

        img {
            padding: 1px;
            border: 1px solid #021a40;
            background-color: #ff0;
        }
    </style>
</head>
<body>
    <div id="box">
        <div id="header">
            <h1 style="font-size:50px">SERVICES</h1>
            <h4 style="color:whitesmoke;">
                Small team. Big moments. We aren't your average planners. People hire us because they want an academic event  that is extraordinary.
            </h4>
        </div>

        <div id="primary">

            <img src="~/Images/hotel.jpg" />
            <h3>BOOKING SERVICE</h3>
            <p style="color:white">
                We provide best deals at best hotels for your conference/symposum/meeting.
                We also provide accomodation in the best hotels at best available prices
            </p>

        </div>

        <div id="content">

            <img src="~/Images/room.jpg" style="border-color:black" />
            <h3>EVENT SERVICE</h3>
            <p style="color:white">
                We provide event planning in events like annual dinner,opening cermony and other formal events.Formal event organization include decoration,invites,food etc.
            </p>
        </div>

        <div id="secondary">

            <img src="~/Images/bus.jpg" style="border-color:black" />
            <h3>TOUR SERVICE</h3>
            <p style="color:white">
                We provide planned city/country tours on your demand.They include transportation,food and accomodation.
                We have planned city tours,in which locations can be modified accoeding to you need.
            </p>
        </div>


    </div>



</body>
</html>



