@{
    ViewBag.Title = "Searched";
    Layout = "~/Views/Shared/layoutbooking.cshtml";
}

<html>
<head>
    <title>BookIt</title>
    <style>
      

        .well {
            background-color:#393939;
            
          
        }
      

        

    </style>
</head>
<body>
    <div class="container well ">
              
                  
        </div>
</body>

</html>




